* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    overflow-x: hidden !important;
    font-family: "Roboto", sans-serif;
}

//var
$color_1: #354d9e;
$color_2: #202020;
$color_3: #454545;
$color_4: #344b9b;

//css classes
.span_1 {
    color: #354d9e;
}
.line {
    border: 2px solid #1da6f1;
    width: 50px;
    margin: 1.3rem 0rem;
}

body::-webkit-scrollbar {
    border: 1px solid red;
    width: 100%;
}

// start main css

.owl-carousel-1 {
    .item {
        header {
            background-image: url("../images/assests/bg.png");
            background-position: top right;
            background-size: 60%;
            background-repeat: no-repeat;
            height: 100vh;
            
            .wrap_header_top {
                height: 90vh;
                display: flex;
                justify-content: center;
                align-items: center;
                .box_p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .box_1_c {
                        h3 {
                            color: $color_3;
                        }
                        p {
                            font-weight: 600;
                        }
                        .btn_box {
                            margin-top: 1rem;
                            .btn {
                                background-color: $color_4;
                                color: white;
                                padding: 0.3rem 1rem;
                                border-radius: 0.3rem;
                                font-size: 0.8rem;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
    .item_2 {
        header {
            background-image: url("../images/assests/bg3.png");
            background-position: top left;
            nav {
                .nav-link {
                    color: black !important;
                }
                .nav-link {
                    border-bottom: 2px solid transparent;
                    transition: 0.8s;
                }
                .nav-link:hover {
                    border-bottom: 2px solid $color_4;
                }
            }
        }
    }
}
nav {
    background-color: transparent !important;
    .navbar-brand {
        img {
            width: 150px !important;
        }
    }
    .nav-link {
        color: white !important;
        margin: 0rem 0.5rem;
        border-bottom: 2px solid transparent;
        transition: 0.8s;
    }
    .nav-link:hover {
        border-bottom: 2px solid white;
    }
    .btn:hover {
        background-color: $color_1;
        color: white;
    }
}

// End of main page header
.marketing_tool {
    background-image: url("../images/assests/Bg-2.jpg");
    background-size: cover;
    .box_1 {
        h3 {
            color: $color_4;
        }
    }
}

.how_it_work {
    margin-top: 4rem;
}

.extra_features {
    .extra_features_box {
        margin-top: 4rem;
        padding: 3rem 0rem;
        background-image: url("../images/assests/Bg-3.jpg");
        background-size: 100%;
        .im {
            text-align: center;
            margin-top: 2rem;
            .im_c {
                width: 120px;
                border-radius: 50%;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 120px;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
                img {
                    width: 110px;
                }
            }
            .im_c:hover {
                transition: 0.6s;
                transform: scale(1.2);
            }
        }
    }
}

.our_clients {
    margin-top: 5rem;
    .our_clients_box {
        background-image: url("../images/assests/bg-4.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100% 90%;
        .con_1 {
            margin-top: 6rem;
            width: 60%;
        }
        .owl-carousel {
            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2rem 0rem;
                .item_1 {
                    background-color: white !important;
                    border-radius: 1rem;
                    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.6);
                    padding: 1.8rem;
                    width: 80%;
                    i {
                        color: $color_1;
                    }
                    .box {
                        display: flex;
                        align-items: center;
                        h6 {
                            color: $color_1;
                            font-size: 1.1rem !important;
                            margin-top: 1rem;
                            font-weight: bold;
                            margin-bottom: 0rem;
                        }
                        p {
                            font-size: 0.8rem !important;
                        }
                        img {
                            width: 50px;
                            margin-right: 2rem;
                        }
                    }
                }
            }
        }
    }
}

footer {
    .footer_top {
        padding: 4rem 0rem 2rem 0rem;
        background-color: $color_2;
        color: white;
        h6 {
            font-size: 1.3rem;
            margin-top: 0.8rem;
            font-weight: bold;
            padding: 0rem 0rem 1.8rem 0rem;
        }
        p {
            padding-right: 5rem;
            font-weight: 500;
        }
        ul {
            padding: 0rem;
            list-style: none;
            li {
                font-weight: 500;
                i {
                    color: #387ac7;
                }
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
        .media {
            i {
                cursor: pointer;
                font-size: 2rem;
                margin-right: 1rem;
            }
        }
    }
    .footer_fot {
        background-color: black;
        padding: 0.1rem 0rem;
        i {
            color: red;
            margin: 0rem 0.2rem;
        }
    }
}

/*****************************************************End of Desktop********************************************************/

@media only screen and (max-width: 550px) {
    .owl-carousel-1 {
        .item_1 {
            header {
                nav {
                    .nav-link {
                        color: black !important;
                        text-align: center;
                    }
                }
            }
        }
        .item_2 {
            header {
                nav {
                    .s_logo {
                        display: none;
                    }
                    .nav-link {
                        color: black !important;
                        text-align: center;
                    }
                }
            }
        }
    }
    header {
        background-image: none !important;
        nav {
            background-color: transparent !important;
            .nav-link {
                color: black !important;
            }
        }
        .wrap_header_top {
            height: 75% !important;
        }
    }

    .marketing_tool {
        .box_1 {
            text-align: center !important;
            .line {
                margin: 1rem auto;
            }
        }
    }

    .how_it_work {
        .box_1 {
            text-align: center;
        }
    }
    .extra_features {
        margin-top: 2.5rem;
    }
    .our_clients {
        .our_clients_box {
            background-size: 100% 50%;
            .con_1 {
                margin-top: 2rem !important;
                width: 100%;
            }
        }
    }

    footer {
        .footer_top {
            padding: 2rem 0rem 2rem 0rem;
            h6 {
                text-align: center;
                margin-top: 2rem;
                padding-bottom: 0.1rem;
            }
            img {
                display: block;
                margin: auto;
            }
            p {
                padding-right: 0rem;
                text-align: center;
            }
            ul {
                text-align: center;
                li {
                    i {
                        color: #387ac7;
                        text-align: center;
                    }
                }
            }
            .media {
                text-align: center !important;
                i {
                    margin: 1rem;
                }
            }
        }
    }
}

// *************************************************************** start sign up page

.sign_up_page {
    font-family: "Roboto", sans-serif;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .img_1_b {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 40%;
    }
    .img_2_b {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 30%;
    }
    .box_1 {
        width: 500px;
        h4 {
            color: $color_3;
            font-weight: 500;
        }
        .input_box {
            .input_item {
                border-bottom: 2px solid gray;
                display: flex;
                align-items: center;
                .imp {
                    input {
                        height: 59px;
                    }
                }
                .imp {
                    width: 100%;
                    .form-control {
                        width: 100%;
                        border: none;
                        color: $color_1;
                        font-weight: 500;
                    }
                }
            }
            .btn_box {
                .btn {
                    background-color: $color_4;
                    color: white;
                    padding: 0.3rem 1.5rem;
                    border-radius: 0.3rem;
                }
            }
        }
    }
}
@media only screen and (max-width: 550px) {
    .sign_up_page {
        height: auto;
        .box_1 {
            width: 100%;
        }
        .img_1_b {
            display: none;
        }
        .img_2_b {
            display: none;
        }
    }
}

@media only screen and (min-width: 980px) {
    .h_logo {
        display: none !important;
    }
}

// *************************************************************** start Log in page

.log_in_page {
    font-family: "Roboto", sans-serif;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .img_1_b {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 40%;
    }
    .img_2_b {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 30%;
    }
    .box_1 {
        width: 500px;
        h4 {
            color: $color_3;
            font-weight: 500;
        }
        h5 {
            color: $color_3;
        }
        a {
            text-decoration: none;
            color: $color_4;
            font-weight: 600;
        }
        .input_box {
            .input_item {
                border-bottom: 2px solid gray;
                display: flex;
                align-items: center;
                .imp {
                    width: 100%;
                    .form-control {
                        width: 100%;
                        border: none;
                        color: $color_1;
                        font-weight: 500;
                    }
                }
            }
            .btn_box {
                .btn {
                    background-color: $color_4;
                    color: white;
                    padding: 0.3rem 1.5rem;
                    border-radius: 0.3rem;
                }
            }
            .our_sign_up {
                h5 {
                    text-align: center;
                    font-size: 1rem;
                    margin: auto !important;
                    max-width: 320px;
                    position: relative;
                }
                h5:before {
                    content: "";
                    display: block;
                    width: 100px;
                    height: 1px;
                    position: absolute;
                    background: #000;
                    left: 0;
                    top: 50%;
                    z-index: -2;
                }
                h5:after {
                    content: "";
                    display: block;
                    width: 100px;
                    height: 1px;
                    position: absolute;
                    background: #000;
                    right: 0;
                    top: 50%;
                    z-index: -2;
                }
                span {
                    background: #fff;
                }
            }
            .media {
                display: flex;
                justify-content: center;
                align-items: center;
                .me {
                    margin: 0rem 1rem;
                    padding: 0.1rem;
                    border-radius: 0.4rem;
                    text-align: center;
                    img {
                        width: 40px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 550px) {
    .log_in_page {
        height: auto;
        .box_1 {
            width: 100%;
        }
        .img_1_b {
            display: none;
        }
        .img_2_b {
            display: none;
        }
    }
}

//log_in_page

.profile_information_page {
    .profile_information_box {
        border-radius: 0.5rem;
        width: 600px;
        margin: auto;
        h4 {
            color: $color_1;
        }
        .profile_information_box_header {
            padding-top: 3rem !important;
            .progress_bar_box {
                position: relative;
            }
            .btn {
                height: 2.5rem;
                width: 2.5rem;
                font-size: 1.2rem;
                background-color: $color_1;
                color: wheat;
            }
            .btn-secondary {
                background-color: #6c757d;
            }
            .btn_1 {
                position: absolute;
                top: 0%;
                left: 0%;
            }
            .btn_2 {
                position: absolute;
                top: 0%;
                left: 20%;
            }
            .btn_3 {
                position: absolute;
                top: 0%;
                left: 40%;
            }
            .btn_4 {
                position: absolute;
                top: 0%;
                left: 60%;
            }
            .btn_5 {
                position: absolute;
                top: 0%;
                left: 80%;
            }
            .btn_6 {
                position: absolute;
                top: 0%;
                left: 100%;
            }
        }
        .profile_information_box_main {
            border-radius: 1rem;
            margin-top: 4rem;
            padding: 2rem 3rem 4rem 2rem;
            .input_box {
                .input_item {
                    border-bottom: 2px solid gray;
                    display: flex;
                    align-items: center;
                    .imp {
                        input {
                            height: 59px;
                        }
                    }
                    .imp {
                        width: 100%;
                        .form-control {
                            width: 100%;
                            border: none;
                            color: $color_1;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .profile_information_box_footer {
            .btn_box {
                margin: 2rem 0rem 3rem 0rem;
                .btn {
                    background-color: $color_4;
                    color: white;
                    padding: 0.3rem 1.5rem;
                    border-radius: 0.3rem;
                }
            }
        }
    }
}

.branding_page{
    .branding_page_box{
        border-radius: 0.5rem;
        width: 600px;
        margin: auto;
        h4 {
            color: $color_1;
        }
        .branding_page_box_header {
            padding-top: 3rem !important;
            .progress_bar_box {
                position: relative;
            }
            .btn {
                height: 2.5rem;
                width: 2.5rem;
                font-size: 1.2rem;
                background-color: $color_1;
                color: wheat;
            }
            .btn-secondary {
                background-color: #6c757d;
            }
            .btn_1 {
                position: absolute;
                top: 0%;
                left: 0%;
            }
            .btn_2 {
                position: absolute;
                top: 0%;
                left: 20%;
            }
            .btn_3 {
                position: absolute;
                top: 0%;
                left: 40%;
            }
            .btn_4 {
                position: absolute;
                top: 0%;
                left: 60%;
            }
            .btn_5 {
                position: absolute;
                top: 0%;
                left: 80%;
            }
            .btn_6 {
                position: absolute;
                top: 0%;
                left: 100%;
            }
        }
        .branding_page_box_main{
            border-radius: 1rem;
            margin-top: 4rem;
            padding: 2rem 2rem 4rem 2rem; 
            .branding_page_box_main_box{
                margin: auto;
                height: 30vh;
                border-radius: 1rem;
                background-color: gray;
            }  
        }
    }
}